1 VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "A vintage virtual Nixie clock"
      VALUE "FileVersion", "0,0,0,0"
      VALUE "InternalName", "nixie"
      VALUE "LegalCopyright", "Copyright (C) 2018"
      VALUE "OriginalFilename", "nixie.exe"
      VALUE "ProductName", "nixie"
      VALUE "ProductVersion", "0,0,0,0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

10 ICON DISCARDABLE "icons\\nixie.ico"
